.vs
*.sln
.idea
.DS_Store

awsGameKitClientConfig.yml

DefaultEngine.ini
Build/
Binaries/
Content/Developers/
DerivedDataCache/
Intermediate/
Libraries/
Saved/
plugin_package/

AwsGameKitUnrealGame/Plugins/AwsGameKit/Docs/
AwsGameKitUnrealGame/Plugins/AwsGameKit/Resources/misc/achievements/achievements_local_state.json
